APP_ENV=production
APP_URL=https://mmig46.org
APP_KEY=CHANGE_ME_TO_A_64_CHAR_RANDOM_STRING
DB_HOST=localhost
DB_NAME=MMIG46_Datenbank
DB_USER=user1234
DB_PASS=CHANGE_ME
DB_CHARSET=blablae4
MAIL_DRIVER=smtp
MAIL_HOST=test.kasserver.com
MAIL_PORT=111
MAIL_ENCRYPTION=ssl
MAIL_USERNAME=test@testmail.com
MAIL_PASSWORD=CHANGE_ME
MAIL_FROM=test@testmail.com
MAIL_FROM_NAME="MMIG46"
CONTACT_TO="info@mmig46.org"
SESSION_NAME=mmig46_session
