APP_ENV=local
APP_URL=http://localhost:8000
APP_KEY=CHANGE_ME_TO_A_64_CHAR_RANDOM_STRING

DB_HOST=127.0.0.1
DB_NAME=mmig46_local
DB_USER=root
DB_PASS=
DB_CHARSET=utf8mb4

MAIL_DRIVER=smtp
MAIL_HOST=test.kasserver.com
MAIL_PORT=465
MAIL_ENCRYPTION=ssl
MAIL_USERNAME=test@testmail.com
MAIL_PASSWORD=CHANGE_ME
MAIL_FROM=test@testmail.com
MAIL_FROM_NAME="MMIG46"
CONTACT_TO="info@mmig46.org"

SESSION_NAME=mmig46_session
