/vendor/
/.env
/storage/logs/*.log
/storage/uploads/*
!/storage/uploads/.gitkeep
/storage/forum-attachments/*
!/storage/forum-attachments/.gitkeep
*.private.sql
*.report.json
/storage/invoices/*.pdf
/storage/invoices/tmp-*
.DS_Store
/real.env
/.env.production
