Options -Indexes
RewriteEngine On

# HTTPS erzwingen, sobald SSL aktiv ist
RewriteCond %{HTTPS} !=on
RewriteRule ^ https://%{HTTP_HOST}%{REQUEST_URI} [R=301,L]

# Alte Joomla-/CMS-Pfade auf neue Struktur mappen
RedirectMatch 301 ^/index\.php/?$ /
RedirectMatch 301 ^/index\.php\?language=de$ /
RedirectMatch 301 ^/index\.php\?language=en$ /
RedirectMatch 301 ^/index\.php/willkommen/reisen/?$ /reisen
RedirectMatch 301 ^/index\.php/welcome/travels/?$ /reisen
RedirectMatch 301 ^/index\.php/willkommen/verein/?$ /verein
RedirectMatch 301 ^/index\.php/welcome/club/?$ /verein
RedirectMatch 301 ^/index\.php/willkommen/verein/die-mmig46/?$ /verein
RedirectMatch 301 ^/index\.php/willkommen/kontakt/?$ /kontakt
RedirectMatch 301 ^/index\.php/welcome/contact/?$ /kontakt
RedirectMatch 301 ^/index\.php/willkommen/impressum/?$ /impressum
RedirectMatch 301 ^/index\.php/welcome/legal-notice/?$ /impressum
RedirectMatch 301 ^/index\.php/willkommen/datenschutz/?$ /datenschutz
RedirectMatch 301 ^/index\.php/welcome/privacy-policy/?$ /datenschutz
RedirectMatch 301 ^/forum/?$ /forum

RedirectMatch 301 ^/index\.php/welcome/malibu-mirage/?$ /malibu-mirage
RedirectMatch 301 ^/index\.php/willkommen/malibu-mirage/?$ /malibu-mirage

RedirectMatch 301 ^/com/malibumirage/ultimatepiston/index\.html$ /malibu-mirage
RedirectMatch 301 ^/org/malibumirage/ultimatepiston/index\.html$ /malibu-mirage


RedirectMatch 301 ^/org/malibumirage/ultimatepiston/index\.html$ /malibu-mirage/ultimate-piston-single
RedirectMatch 301 ^/com/malibumirage/ultimatepiston/index\.html$ /malibu-mirage/ultimate-piston-single

RedirectMatch 301 ^/org/malibumirage/pipersperfection/index\.html$ /malibu-mirage/pipers-perfection
RedirectMatch 301 ^/com/malibumirage/pipersperfection/index\.html$ /malibu-mirage/pipers-perfection

RedirectMatch 301 ^/org/malibumirage/optimumflightlevels/index\.html$ /malibu-mirage/optimum-flight-levels
RedirectMatch 301 ^/com/malibumirage/optimumflightlevels/index\.html$ /malibu-mirage/optimum-flight-levels

RedirectMatch 301 ^/org/malibumirage/100th/index\.html$ /malibu-mirage/100th-jetprop
RedirectMatch 301 ^/com/malibumirage/100th/index\.html$ /malibu-mirage/100th-jetprop

# Falls KAS nicht direkt auf /public zeigt: Frontend an public weiterreichen
RewriteRule ^$ public/ [L]

RewriteCond %{REQUEST_URI} !^/public/
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)$ public/$1 [L]